.sideBar {
  width: 9vw;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.sideBar-header {
  margin-bottom: 2rem;
}

.Menu {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

.Menu li {
  margin: 1rem 0;
}

.Menu a {
  text-decoration: none;
  color: #333;
  font-size: 1.1rem;
}

.userMenu {
  list-style: none;
  padding: 0;
}

.userMenu li {
  margin: 0.5rem 0;
  cursor: pointer;
}